/* estrutura do site */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #FFF url(../img/fundo.png) repeat-x;

}


.logo{
    width: 200px;
    height: 85px;
    margin:  10px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* criação de colunas */
.coluna-50{
  width: 50%;
}

.coluna-33{
  width: 33%;
}

.coluna-25{
  width: 25%;
}

.linha{
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

/* barra de navegação */
#container-nav{
    width: 70%;
    margin: 0 auto;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo {
    text-align: center;
}

#topo ul {
    margin-top: 45px;
    background: #B10333;
    display: inline-block;
}

#topo ul li{
    float: left;
}

#topo ul li.ativo{
    background-color: #69001D;
}

#topo ul li a{
    text-decoration: none;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    color: #FFF;
    background: url(../img/divisor.png) repeat-y;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul li:hover{
    background: #69001D;
}

#topo ul li{
    transition: .3s;
}

/* CORPO DO SITE */
#container{
  width: 80%;
  margin: 0 auto;

}

/* formulario */

.btn-deletar span{
  color: #b10333;
}

.btn-limpar{
  background-color: #fff;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  margin: 0 6px 0 4px;

}

.btn-limpar:hover{
  cursor: pointer;
}

/* botoes do formulario */
.btn{
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  padding: 8px;
  display: block;
  margin: 18px auto 5px auto;

}

.btn#btn-salvar{
  background-color: #90EE90;
}


.btn#btn-buscar{
  background-color: #F0E68C;
}


/* Tabelas */
table{
  width: 100%;
  border-collapse: collapse;
}

th{
  border: 1px solid #D2D2D2;
}

td, th{
  text-align: center;
  padding: 4px;
}

tr:nth-child(even){
  background-color: #D2D2D2;
}

td:hover{
  cursor: pointer;
}

.btn-deletar{
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  background-color: #FFF;
}

.btn-deletar:hover{
  cursor: pointer;
}
