/* estrutura do site */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #FFF url(../img/fundo.png) repeat-x;
}

#container{
    width: 70%;
    margin: 0 auto;
    
}

.logo{
    width: 165px;
    height: 66px;
    margin: -5px 10px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}


/* barra de navegação */
ul{

}